<% if session[:user_id].nil? %>

  You do not have access to edit.
  <%= link_to "Go home", root_path %>

<% elsif @user.id == current_user.id %>
  <h1>Edit Profile</h1>
  <%= render 'form' %>
  
<% else %>
  You do not have access to edit.
  <%= link_to "Go home", root_path %>

<% end %>
