<h1 class="mt-4 mb-4">Followers</h1>

<ul>
  <% @followers.each do |followers| %>
    <li><%= link_to followers.email, followers %></li>
  <% end %>
</ul>

<%= link_to "Back to profile", @user, class: "btn btn-primary" %>
