<h1>Following</h1>

<ul>
  <% @following.each do |following| %>
    <li><%= link_to following.email, following %></li>
  <% end %>
</ul>

<%= link_to "Back to profile", @user, class: "btn btn-primary" %>
