<div class="row justify-content-center">
  <div class="col-sm-8 text-center">

    <h1 class="mt-4 mb-4">Following</h1>

    <ul class="list-group">
      <% @following.each do |following| %>
        <li class="text-left list-group-item list-group-item-action border-0"><%= link_to following.email, following, class: "d-flex text-dark font-weight-bold" %></li>
      <% end %>
    </ul>
    <%= link_to "Back to profile", @user, class: "btn btn-primary mt-4" %>

  </div>
</div>
