<h1 class="mt-4 mb-4">Stats</h1>
<ul>
  <li><strong>Total Users:</strong> <%= @users.count %></li>
  <li><strong>Total Posts:</strong> <%= @posts.count %></li>
  <li><strong>Total Comments:</strong> <%= @comments.count %></li>
</ul>

<h2 class="mt-4 mb-4">All Users</h2>
<ul class="list-group">
  <% @users.each do |user| %>
  <li class="list-group-item list-group-item-action"><%= link_to user.email, user_path(user), class: "text-dark font-weight-bold" %></li>
<% end %>
</ul>
