<!-- Following Posts -->
<h1 class="text-center mb-4 mt-4">Following Posts</h1>
<div class="row">
  <% current_user.following.each do |following| %>
    <% following.posts.order("created_at DESC").each do |post| %>
      <div class="col-4 mb-4"><%= link_to image_tag(post.photo, class: "rounded img-fluid", size: "400x400"), post %></div>
    <% end %>
  <% end %>
</div>
<% if current_user.following.empty? %>
  <div class="text-center">
    Your feed is empty. Discover content in the <%= link_to "Discovery page", discover_path %>
  </div>
<% end %>
