<h1 class="text-center">Discover</h1>

<div class="row">
  <% @discover.each do |discover| %>
    <div class="col-4 mb-4"><%= link_to image_tag(discover.photo, class: "rounded img-fluid", size: "400x400"), discover %></div>
  <% end %>
</div>
<div class="text-center mb-4">
  <%= link_to "Load more", discover_path, class: "btn btn-primary" %>
</div>
