<% if !session[:user_id].nil? && @post.user.id == current_user.id %>
  <h1>Edit Post</h1>
  <%= render 'form' %>
  <%= button_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

<% else %>
  You do not have access to edit.
  <%= link_to "Go home", root_path %>

<% end %>
