<div class="row justify-content-center">
  <div class="col-sm-10 text-center">
    <h1 class="mt-4 mb-4">Edit Post</h1>
    <%= render 'form' %>

    <%= button_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-sm btn-outline-danger" %>
  </div>
</div>
